In [24]:
import pandas as pd
import re

## Load the raw csv

In [25]:
# load .csv as dataframe
df = pd.read_csv("data/iphone_data.csv")

In [26]:
df.head()

,Title,Price,Link,Image Link
0,New ListingiPhone 11 With Tik Tok Installed,$400.00,https://www.ebay.com/itm/167269146017,https://i.ebayimg.com/images/g/RT0AAOSwtb9nkZg...
1,New ListingiPhone 14 Pro Max Purple W/TikTok,$300.00,https://www.ebay.com/itm/405496183631,https://i.ebayimg.com/images/g/z9IAAOSwBXpnkZd...
2,New ListingiPhone XS (HAS TIK TOK) for influen...,$200.00,https://www.ebay.com/itm/387850544091,https://i.ebayimg.com/images/g/M-oAAOSwww9nkZa...
3,New ListingApple iPhone 14 Pro Max WITH TIKTOK...,$250.00,https://www.ebay.com/itm/396143814039,https://i.ebayimg.com/images/g/U6MAAOSwj6dnkZc...
4,New ListingApple iPhone 12 Pro With Tik Tok & ...,$400.00,https://www.ebay.com/itm/126897829682,https://i.ebayimg.com/images/g/qWcAAOSw1WtnkZX...

## Check the Shape and Remove Dups based on Title

In [27]:
# drop duplicate JDs
print("Original shape:", df.shape)
df = df.drop_duplicates(subset="Title")
print("Duplicates dropped:", df.shape)

Original shape: (480, 4)
Duplicates dropped: (462, 4)

## Add 3 features for the Trainer job. Also Change the Price to int datatype

In [28]:
df["is_new"] = df["Title"].str.contains('New').astype(int)
df["is_unlocked"] = df["Title"].str.contains('Unlocked').astype(int)
df["is_latest_model"] = df["Title"].apply(str.lower).apply(lambda x: x[x.find('iphone') + 7:x.find('iphone') + 9]).apply(lambda x: 1 if x in ('13', '15') else 0)
df["Price"] = df["Price"].str.replace('$', '').astype(float).astype(int)

In [35]:
print("After adding features dropped:", df.shape)

After adding features dropped: (462, 7)

## Create a dataframe with 4 columns only. 3 Features and 1 Target

In [32]:
transformed_df = df[['is_new', 'is_latest_model', 'is_unlocked', 'Price']].copy()

In [33]:
transformed_df

     is_new  is_latest_model  is_unlocked  Price
0         1                0            0    400
1         1                0            0    300
2         1                0            0    200
3         1                0            1    250
4         1                0            0    400
..      ...              ...          ...    ...
475       0                0            0    250
476       0                0            1    255
477       1                1            1    335
478       0                0            0    200
479       1                1            0    225

[462 rows x 4 columns]

## Export as csv for ML Model

In [38]:
# simply save data as a .csv file
transformed_df.to_csv("data/iphone_data_transformed.csv", index=False)