In [13]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error

import matplotlib.pyplot as plt
import numpy as np

## Load from csv

In [2]:
df = pd.read_csv("data/iphone_data_transformed.csv")
df.head()

   is_new  is_latest_model  is_unlocked  Price
0       1                0            0    400
1       1                0            0    300
2       1                0            0    200
3       1                0            1    250
4       1                0            0    400

## Train , Test Data Split

In [40]:
# split data by predictors and target
X = df.iloc[:, :3]
y = df.iloc[:, -1]
# train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [41]:
X

     is_new  is_latest_model  is_unlocked
0         1                0            0
1         1                0            0
2         1                0            0
3         1                0            1
4         1                0            0
..      ...              ...          ...
457       0                0            0
458       0                0            1
459       1                1            1
460       0                0            0
461       1                1            0

[462 rows x 3 columns]

In [42]:
# Create a linear regression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 3889.3903852433764